name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ created ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: MinSizeRel

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    strategy:
      matrix:
        os: [windows]
        arch: [x86, x86_64]

    runs-on: ${{matrix.os}}-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set Build Variables
      shell: bash
      run: |
        [ "${{matrix.os}}" == windows ] && echo "CMAKE_GENERATOR=Visual Studio 16 2019" >>${GITHUB_ENV} || true
        [ "${{matrix.os}}" == windows ] && [ "${{matrix.arch}}" == "x86"    ] && echo "CMAKE_GENERATOR_PLATFORM=win32" >>${GITHUB_ENV} || true
        [ "${{matrix.os}}" == windows ] && [ "${{matrix.arch}}" == "x86_64" ] && echo "CMAKE_GENERATOR_PLATFORM=x64"   >>${GITHUB_ENV} || true

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Cache Build
      id: cache-build
      uses: actions/cache@v2
      with:
        path: build
        key: ${{matrix.os}}-${{matrix.arch}}

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: lpvpn-${{matrix.os}}-${{matrix.arch}}
        path: |
          build/${{env.BUILD_TYPE}}/lpvpn.exe
          build/${{env.BUILD_TYPE}}/LICENSE

    - name: Get Release Upload URL
      if: github.event_name == 'release'
      id: get_release
      uses: bruceadams/get-release@v1.2.2
      env:
        GITHUB_TOKEN: ${{github.token}}

    - name: Upload Release Asset (Standalone)
      if: github.event_name == 'release'
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{github.token}}
      with:
        upload_url: ${{steps.get_release.outputs.upload_url}}
        asset_path: build/${{env.BUILD_TYPE}}/lpvpn.exe
        asset_name: lpvpn-${{steps.get_release.outputs.tag_name}}-${{matrix.os}}-${{matrix.arch}}.exe
        asset_content_type: application/vnd.microsoft.portable-executable
